.App {
  overflow: hidden;
}

.my-container {
  max-width: 800px;
  margin: auto;
  border-radius: 20px;
}

.logo {
  text-align: center;
  padding-bottom: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 480px) {
  .mobile-view-button {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}